@model PaginatedList<NPlaylist.ViewModels.AudioEntryViewModel>
@{
    ViewBag.Title = "Audio";
}

<h2>Uploaded Audios</h2>

<p>
    <a asp-action="Upload" class="btn btn-default">Upload New</a>
</p>
@if (Model.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Created
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UtcCreatedTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AudioId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AudioId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AudioId">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";

    <a asp-action="Index"
       asp-route-page="@(Model.PageIndex - 1)"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
       asp-route-page="@(Model.PageIndex + 1)"
       class="btn btn-default @nextDisabled">
        Next
    </a>
}
else
{
    <h2>No entries found</h2>
}